<!doctype html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/winterfresh92.github.io/assets/stylesheets/main.css">
		<link href='https://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<header class="primary-header">
			<h1 class="logo"><a href="http://www.kevinstubblefield.com/index.html">Kevin Stubblefield</a></h1>

			<nav class="primary-nav">
				<ul>
					<li><a href="http://www.kevinstubblefield.com/about.html">About</a></li>
					<li><a href="http://www.kevinstubblefield.com/contact.html">Contact</a></li>
					<li><a href="http://www.kevinstubblefield.com/blog">Blog</a></li>
				</ul>
			</nav>
		</header>

		<section class="project">
			<div class="container">
				{{ content }}
			</div>
		</section>

		<footer class="primary-footer">
			&copy; Kevin Stubblefield
		</footer>
	</body>
</html>